.collection-list {
  --grid-desktop-horizontal-spacing: 0;
  --grid-desktop-vertical-spacing: 0;
  --grid-mobile-horizontal-spacing: 0;
  --grid-mobile-vertical-spacing: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}

.collection-list__item {
  padding: 2rem;  
  flex: 1;
  min-width: 100px;
  max-width: 200px;
}

.collection-card-wrapper {
  max-width: 200px;
}

.card__heading {
  font-size: 3rem;
}

@media screen and (max-width: 749px) {
  .collection-list {
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: unset;
    grid-auto-flow: unset;
  }
  
  .collection-list:not(.slider) {
    padding-left: 0;
    padding-right: 0;
  }

  .section-collection-list .page-width {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 350px) {
  .card__heading {
    font-size: 2rem;
  }
}

.collection-list__item:only-child {
  max-width: 100%;
  width: 100%;
}

